
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC Kamp Tablo Ornegi</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>CategoryName</th>
        <th>CategoryDescription</th>
        <th>CategoryStatus</th>
        <th>Güncelle</th>

    </tr>
    <tr>
        <td>1</td>
        <td>TEKNOLOJİ</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>BİLGİSYAR</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>KİTAP</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>TİYATRO</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>
<button class="btn btn-info">Yeni Category</button>
<button class="btn btn-success">Category List</button>
<button class="btn btn-danger">Category Description</button>
