  @using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3 style="color:blue">THIS IS THE CATEGORY LIST PAGE</h3>
<a href="/AdminCategory/AddCategory" class="btn btn-info">NEW THE CATEGORY ADD</a>
<br />
  <table class="table table-hover">
      <tr style="color:deeppink">    
          <th>ID</th>
          <th>NAMES</th>
          <th>DESCRİPTİONS</th>
          <th>DELETIES</th>
          <th>UPDATIES</th>
          <th>HEADİNGS</th>
      </tr>
      @foreach (var item in Model)
      {
          <tr>
             <th>@item.CategoryID</th>
             <th>@item.CategoryName</th>
              <th>@item.CategoryDescription</th>
              <td><a href="/AdminCategory/DeleteCategory/@item.CategoryID" class="btn btn-danger">DELETE</a></td>
              <td><a href="/AdminCategory/EditCategory/@item.CategoryID" class="btn btn-warning">UPDATE</a></td>
              <td><a href="#" class="btn btn-primary">HEADİNGS</a></td>
          </tr>
      }

  </table>
<br />

  